<section class='flex bg-red-300'>
  <div class='grid grids-col-2'>
    <div>
      <img src='favicon.svg' class='w-20 m-auto' alt='' />
      <p class='mt-4'>Dev Management</p>
    </div>
    <div>
      <img src='favicon.svg' class='w-20 m-auto' alt='' />
      <p class='mt-4'>Dev Management</p>
    </div>
    <div>
      <img src='favicon.svg' class='w-20 m-auto' alt='' />
      <p class='mt-4'>Dev Management</p>
    </div>
    <div>
      <img src='favicon.svg' class='w-20 m-auto' alt='' />
      <p class='mt-4'>Dev Management</p>
    </div>
  </div>
  <div class='flex'>
    <h2>Lorem ipsum dolor sit.</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, ab?</p>
  </div>
</section>
