---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Acerca del Sitio'>
  <h1>About</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae,
    dolorem voluptatum sapiente reprehenderit sequi fuga repellat similique
    harum? Qui aspernatur sapiente in libero sequi pariatur facilis cupiditate
    cumque! Ipsa sit impedit suscipit exercitationem, alias soluta nemo
    veritatis adipisci doloremque quidem ab dolor hic porro enim, harum sint?
    Quaerat perferendis minima neque provident distinctio odit animi inventore
    corrupti, officia, dicta repudiandae eius adipisci ex. Saepe consequuntur
    repellendus illo maxime odit iure debitis eveniet doloribus. Explicabo
    cupiditate eos impedit quod vitae doloribus! Assumenda maiores non expedita
    facilis ipsum voluptas tenetur architecto sit, odit soluta. Aspernatur
    suscipit, corrupti rem minus architecto exercitationem excepturi.
  </p>
</Layout>
