<footer class='bg-zinc-900 mx-auto mt-4 py-10'>
  <div
    class='container md:mx-auto flex flex-col md:flex-row md:justify-evenly text-center px-20 gap-4'
  >
    <div>
      <h4 class='font-bold text-xl'>Site Map</h4>
      <a href='/'>Home</a>
      <a href='/about'>About</a>
      <a href='/pricing'>Pricing</a>
    </div>
    <div>
      <h4 class='font-bold text-xl'>Lorem, ipsum dolor.</h4>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
      <p>Lorem, ipsum.</p>
    </div>
    <div>
      <h4 class='font-bold text-xl'>Social Links</h4>
      <a href='/'>Facebook</a>
      <a href='/'>Twitter</a>
      <a href='/'>Tik Tok</a>
    </div>
  </div>
</footer>
